DATABASE_URL="postgresql://postgres:postgres@localhost:5432/job_ticket_system?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="replace-with-at-least-32-random-characters"
ADMIN_INITIAL_PASSWORD="replace-with-a-strong-12-character-password"
EMPLOYEE_INITIAL_PASSWORD="replace-with-a-strong-12-character-password"
CARE_INITIAL_PASSWORD="replace-with-a-strong-12-character-password"
